/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}

/* Main Blocks */
body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.conteiner{
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;

	width: 100%;
	margin-right: auto;
	margin-left: auto;
}


/* Header */
.header{
    background-color: #4761E8;
    color: #FFF50D;
    
    /* top | right | bottom | left */
    padding: .5rem 1rem .5rem 1rem;
}
.header-inner{
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}
.header-logo{
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    align-items: center;
    display: flex;
}
.header-form{
    margin-bottom: 0;
    margin-right: 1rem;
    flex: 0 0 auto;
    width: auto;
}
.header-form-control{
    color: #fff;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top-color: rgb(206, 212, 218);
    border-right-color: rgb(206, 212, 218);
    border-bottom-color: rgb(206, 212, 218);
    border-left-color: rgb(206, 212, 218);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.nav{
    font-size: 85%;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex: 0 0 auto;
    width: auto;
}
.nav-link{
    color:#FFF50D;
    transition: color .1s linear;
    display: block;
    text-decoration: none;
}
.nav-link:hover {
    color: aqua;
}
.nav-link::after{
    transition: opacity .1s linear;
}
.nav-link:hover:after {
    opacity: 1;
}
.header-menu-pic{
    fill: currentColor;
    margin-bottom: .25rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.text-end{
    text-align: right;
}
.header-login{
    cursor: pointer;
    margin-right: .5rem;
}
.header-sign{
    cursor: pointer;
}

/* Second Header */
.navigation {
    padding: 0;
    margin-bottom: 10px !important;
    z-index: 9;
    margin-top: 30px;
}
.page-head {
    display: table;
    width: 100%;
    margin-bottom: 12px;
}
.page-title {
    white-space: nowrap;
    padding-right: 10px;
    position: relative;
}
.h1_title, h1 {
    letter-spacing: -1px;
    line-height: 1.2;
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    color: #000;
    text-transform: none;
    margin-top: 40px;
}
.navigation .bread, .navigation .bread * {
    font-size: 14px !important;
}
.line_wide {
    margin: 0;
    height: 2px;
    background: #d7d7d7;
}

/* Name Bike On see all info */
.h1-top {
	position: relative;
	display: block;
	width: 100%;
	max-width: 1200px;
	min-width: 345px;
	margin: 0 auto 30px auto;
	padding: 0 10px;
	font-family: fontL;
	font-weight: normal;
	font-size: 38px;
	text-align: center;
	text-transform: uppercase;
	line-height: 40px;
}

/* Main page */
.wrapper{
    display: block;
    width: 100%;
    height: 65vh;
    padding-bottom: 30px;
    background: url('../img/main_page/bike_background.jpg') no-repeat;
    background-size: 100% 500px;
}
.card{
    background: #ffffff;
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: inset -2px 0 0 0 #DDDDDD, inset 0 -2px 0 0 #DDDDDD, -2px -2px 0 0 #DDDDDD, -2px 0 0 0 #DDDDDD, 0 -2px 0 0 #DDDDDD;
  }
.img-card{
   object-fit: cover;
   padding-top: 10px;
   height: 80%;
   top: 40%;
   left: 50%;
   transform: translate(-50%,-50%);
   position: absolute
}
.info_card{
    text-align: center;
    padding-top: 38%;
    font-size: 25px;
}
.Perfect_bike{
    color: rgb(245, 9, 9);
    font-weight: 400;
    font-size: 80px;
    line-height: 89px;    
    font-style: normal;
    text-align: center;
}
.category-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 20px;
}

/* Main Info Bike */
.main__info__bike{
	display: block;
	padding: 0 10px;
}
.photo__bike{
	display: block;
	margin-top: 30px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
/* Меню выбора разделов */
.km-menu {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	border-style: hidden;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#m-karta .k-navi .km-menu a:hover, #m-karta .k-navi div.km-menu a.active {
	background-color: #cc0c01;
}
#m-karta .k-navi .kb-list.active {
	display: block;
}
#m-karta .k-navi .kb-list {
	display: none;
	width: 100%;
	min-height: 440px;
	font-size: 15px;
}
#kb-techspec .techspec-l {
	margin-right: 2%;
}
#kb-techspec .techspec-l, #kb-techspec .techspec-r {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}
#kb-techspec .techspec-l, #kb-techspec .techspec-r {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}


/* Main Info All Bikes */
.content-AllBikes{
    display: flex;
    flex-wrap: wrap;
}
.content-AllBikes-main{
    flex: 0 0 auto;
    width: 75%;
    max-width: 100%;
}
.Bikes-row{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}
.Bikes-row-image{
    flex: 0 0 auto;
    width: 33.3333333333%;
    max-width: 100%;
}
.Bike-image{
    width: 100%;
    height: 100%;
}
.Bikes-row-text{
    background: #4761E8;
    padding: 8px;
    border-radius: 3px;
    flex: 0 0 auto;
    width: 66.6666666667%;
    max-width: 100%;
}
.context-AllBikes-Filter{
    flex: 0 0 auto;
    width: 25%;
    max-width: 100%;
}
.Filter-search{
    background: #4761E8;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.text-input{
    padding: 10px 12px;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ececec;
    line-height: 1.5rem;
    color: #444444;
    font-size: 1rem;
}
.Filter-topic{
    background: #444444;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.limited-desc-bike{
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    display: -webkit-box;
    -webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}


/* Registration Form */
.main-reg-form{
    position: relative;
    overflow: hidden;
    padding: 3em 0 1em;
}
.reg-form-info{
    width: 35%;
    margin: 3em auto;
    background: rgba(0, 0, 0, 0.18);
    background-size: auto;
    background-size: cover;
}
.reg-form-info-top{
    padding: 3em;
}
input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9em;
    color: #FFF50D;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #4761E8 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #4761E8 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
input.email, input.text.w3lpass {
    margin: 2em 0;
}
.text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
.text:focus::-webkit-input-placeholder, .text:valid::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: .9em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
}
::-webkit-input-placeholder {
    color: #cc0c01;
    font-weight: 100;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #cc0c01;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #cc0c01;
}
:-ms-input-placeholder {
    color: #cc0c01;
}
input[type="submit"] {
    font-size: .9em;
    color: #fff;
    background: #76b852;
    outline: none;
    border: 1px solid #76b852;
    cursor: pointer;
    padding: 0.9em;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
}
input[type="submit"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: #8DC26F;
}
.agileits-top p {
    font-size: 1em;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
}
.agileits-top p a {
    color: #fff;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
}
.agileits-top p a:hover {
    color: #76b852;
}
