/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* Main Blocks */
body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.conteiner{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}


/* Header */
.header{
    background-color: #4761E8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    display:inline-block;
    vertical-align:middle
}
.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #FFF50D;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo-pic{
    height: 60px;
}
.header__menu-pic{
    height: 40px;
}

/* Nav */
.nav{
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link{
    color:#FFF50D;
    text-decoration: none;
    position: relative;

    display: inline-block;
    vertical-align: top;

    transition: color .1s linear;
}
.nav__link:hover {
    color: aqua;
}
.nav__link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    
    background-color: #fff;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}
.nav__link:hover:after {
    opacity: 1;
}

.navigation {
    padding: 0;
    margin-bottom: 10px !important;
    z-index: 9;
    margin-top: 30px;
}
.page-head {
    display: table;
    width: 100%;
    margin-bottom: 12px;
}
.page-title {
    white-space: nowrap;
    padding-right: 10px;
    position: relative;
}
.h1_title, h1 {
    letter-spacing: -1px;
    line-height: 1.2;
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    color: #000;
    text-transform: none;
    margin-top: 40px;
}
.navigation .bread, .navigation .bread * {
    font-size: 14px !important;
}
.line_wide {
    margin: 0;
    height: 2px;
    background: #d7d7d7;
}

/* Name Bike On see all info */
.h1-top {
	position: relative;
	display: block;
	width: 100%;
	max-width: 1200px;
	min-width: 345px;
	margin: 0 auto 30px auto;
	padding: 0 10px;
	font-family: fontL;
	font-weight: normal;
	font-size: 38px;
	text-align: center;
	text-transform: uppercase;
	line-height: 40px;
}

/* Main Info Bike */
.main__info__bike{
	display: block;
	padding: 0 10px;
}

.photo__bike{
	display: block;
	margin-top: 30px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
.k-navi .km-menu {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	border-style: hidden;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#m-karta .k-navi .km-menu a:hover, #m-karta .k-navi div.km-menu a.active {
	background-color: #cc0c01;
}
#m-karta .k-navi .kb-list.active {
	display: block;
}
#m-karta .k-navi .kb-list {
	display: none;
	width: 100%;
	min-height: 440px;
	font-size: 15px;
}
#kb-techspec .techspec-l {
	margin-right: 2%;
}
#kb-techspec .techspec-l, #kb-techspec .techspec-r {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}
#kb-techspec .techspec-l, #kb-techspec .techspec-r {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}