<!DOCTYPE html>
<html lang="en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bike Catalog</title>
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
<body>

    <header class="header">
        <div class="conteiner">
            <div class="header__inner">
                <div class="header__logo">
                    <img src="../static/img/svg/Logo.svg" alt="Bike Logo" class="header__logo-pic">
                    <a href="#" class="nav__link">Bike</a>
                </div>

                <nav class="nav">
                    <img src="../static/img/svg/compare.svg" alt="Compare Logo" class="header__menu-pic">
                        <a href="#" class="nav__link">Сравнение</a>
                    <img src="../static/img/svg/favorites.svg" alt="Favorites Logo" class="header__menu-pic">
                        <a href="#" class="nav__link">Избранное</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="conteiner">
        <div class="navigation b20">
            <div class="page-head">
                <div class="page-title">
                    <div class="h1_title">Категория</div>
                    <h1 style="display: none">Шоссейный велосипед Outleap TRACKWAY</h1>
                </div>
                <div class="bread" width="70%" align="right"><a href="javascript:history.back();" class="goBack"><span>Назад</span></a><span>&nbsp;/&nbsp;</span>
                    <a href="#"><span>Главная</span></a> / <a href="#"><span>Категория</span></a> / <a href="#"><span>Название</span></a>  
                </div>
            </div>
            <div class="line_wide"></div>
        </div>
    </div>

</body>
</html>